body {
  background: #7e5dd9;
}

.container {
  padding: 10px;
  /* background: linear-gradient(#7e5dd9, #fff); */
  max-width: 550px;
  margin-top: 20px;
  border-radius: 8px;
}

h1 {
  color: white;
  text-align: center;
  margin: 20px auto;
}

#emoji-container {
  margin: 40px;
  text-align: center;
}

#emoji-container span {
  margin: 10px;
  font-size: 60px;
}

input {
  margin: 0 auto;
  display: block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 4px 10px;
  background: white;
  text-align: center;
}

/* .buttons-wrapper {
  margin: 10px 0 40px;
  justify-content: center;
  display: flex;
} */

button {
  display: block;
  margin: 20px auto;
  background: white;
  color: #7e5dd9;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 4px;
  padding: 4px 10px;
}
